<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.ac.dju.launch"
    android:versionCode="2"
    android:versionName="1.0.1">

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EditPresetActivity"
            android:label="@string/title_activity_edit"
            android:launchMode="singleInstance"></activity>
        <!-- Splash screen -->
        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RouletteActivity"
            android:label="@string/title_activity_roulette"
            android:launchMode="singleInstance"
            android:parentActivityName=".PresetListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PresetListActivity" />
        </activity>
        <activity
            android:name=".PresetListActivity"
            android:label="@string/title_activity_lunch_list" />
        <activity
            android:name=".alarm.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".PresetListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PresetListActivity" />
        </activity>

        <receiver android:name=".alarm.AlarmReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
